

anaconda-navigator==2.3.1

appdirs==1.4.4

astunparse==1.6.3

atomicwrites==1.4.0

backports.weakref==1.0.post1

bidict==0.23.1

conda-repo-cli==1.0.20

conda-verify==3.4.2
constantly==15.1.0

cssselect==1.1.0

cytoolz==0.11.0
daal4py==2021.6.0

datashape==0.5.4

et-xmlfile==1.1.0
flask-cors==5.0.1
Flask-SocketIO==5.5.1
flatbuffers==1.12
fonttools==4.25.0

h11==0.14.0

inflection==0.5.1

joblib==1.4.2
libclang==18.1.1
llvmlite==0.38.0

mkl-fft==1.3.1

mkl-service==2.4.0

mpmath==1.2.1

munkres==1.1.4
mypy-extensions==0.4.3
mysql-connector-python==9.2.0

openpyxl==3.0.10

pandas==1.4.4

patsy==0.5.2
pep8==1.7.1


protobuf==3.19.6
py4j==0.10.9.7
pyarrow==8.0.0

pyasn1-modules==0.2.8

pycosat==0.6.3

pycurl==7.45.1
PyDispatcher==2.0.5

PyMySQL==1.1.1

PyQt5-sip==12.11.0

pyspark==3.5.5
pytest==7.1.2

python-engineio==4.11.2

python-lsp-jsonrpc==1.0.0

python-socketio==5.12.1

PyYAML==6.0

queuelib==1.5.0

scikit-learn==1.6.1
scikit-learn-intelex==2021.20221004.121333

simple-websocket==1.1.0
TBB==0.2

tensorboard-plugin-wit==1.6.0

tensorflow-io-gcs-filesystem==0.37.1

threadpoolctl==3.6.0

webencodings==0.5.1

wsproto==1.2.0

xgboost==2.1.4

zict==2.1.0

